/* @font-face {
  font-family: "SFPro";
  src: url(fonts/SF-Pro-Text-Regular.otf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "SFPro";
  src: url(fonts/SF-Pro-Text-Black.otf);
  font-style: normal;
  font-weight: 600;
} */

* {
  margin: 0px;
  padding: 0px;
  font-family: SFPro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen,     Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 14px;
}

.drag {
  height: 10vh;
  -webkit-app-region: drag;
}

body {
  background-color: transparent;
}

.main-window {
  background: rgb(203, 203, 203);
  background: -moz-linear-gradient(
    315deg,
    rgba(203, 203, 203, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    rgba(203, 203, 203, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    315deg,
    rgba(203, 203, 203, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cbcbcb",endColorstr="#ffffff",GradientType=1);
  border: none;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.col-md-6 {
  margin: 0px;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

.container-fluid {
  border-radius: 15px;
}

.card {
  border-radius: 20px;
  border: none;
  color: #ffffff;
  box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 5%;
}

.card-body {
  padding-right: 6%;
  padding-left: 6%;
}

form {
  margin: 0px;
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 10px;
  padding: 0px;
  padding-right: 15px;
}

.rojo {
  background-color: #fc3939;
}

.text-right.card-title {
  margin: 0;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 0px;
}

.violeta {
  background-color: #a347ff;
}

.violeta-dialogo {
  background-color: #a347ff;
}

.gris-dialogo {
  background-color: #979797;
  height: 60vh;
}

.form-group.row {
  margin-bottom: 2%;
}

.form-control.col-sm-6 {
  background-color: #e5e5e5;
  border-radius: 10px;
  margin-right: 0;
  height: 2.5rem;
}

.etiquetaConfig {
  font-size: 5px;
}

.comandos {
  background-color: #e5e5e5;
  border-radius: 15px;
  height: 7vh;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
}

.input-group {
  margin-bottom: 1vh;
}

input {
  background-color: rgba(255, 255, 255, 0);
  padding-left: 15px;
  border: none;
}

.enviarComando {
  background-color: #c4c4c4;
  border: none;
  border-radius: 15px;
  color: #979797;
  font-weight: 600;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.enviarComando:hover {
  background-color: #5dd43f;
  transition-duration: 0.5s;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}

.btnConectar {
  border: none;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 5vh;
  border-radius: 15px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: #b871ff;
  color: #ffffff;
  font-weight: 700;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btnConectar:hover {
  background-color: #bf80ff;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}

.form-control-lg {
  border: none;
  border-radius: 15px;
  width: 100%;
  height: 90%;
  margin-top: 8px;
  resize: none;
}

.ventana {
  height: 15px !important;
  width: 15px !important;
  border: none;
  border-radius: 50% !important;
  position: absolute;
  top: 27px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15) !important;
  -webkit-app-region: no-drag;
}

.cerrar {
  background-color: #fc3939;
  left: 40px;
}

.maximizar {
  background-color: #7cd572;
  left: 100px;
}

.minimizar {
  background-color: #ffd050;
  left: 70px;
}

.cerrar:hover {
  background-color: #ff6363;
}

.maximizar:hover {
  background-color: #91e487;
}

.minimizar:hover {
  background-color: #ffda76;
}

.titulo {
  font-weight: 600;
  color: #919191;
  position: absolute;
  top: 16px;
  right: 46px;
}
